div(class="aside")
  div(class="aside-header") Информация
    span(class="close" data-dismiss="aside" aria-hidden="true") &times;
  div(class="aside-contents")
    ul(class="nav nav-tabs" id="myTab" role="tablist")
      li(class="nav-item")
        a(class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true") контакты
      li(class="nav-item")
        a(class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false") новости
    div(class="tab-content" id="tabContent")
      div(class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab")
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://grajdanskoe.ru/") ОАО «Гражданское»
            hr
          div(class="col-7 col_1")
            p Калининский
          div(class="col-5 col_2")
            p
              a(href="tel:88127021497")
                i(class="fa fa-phone" aria-hidden="true") +7(812)702-14-97<br />(4036)
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://kolomyagskoe.ru/") ОАО «Коломяжское»
            hr
          div(class="col-7 col_1")
            p Выборгский<br />Приморский
          div(class="col-5 col_2")
            p
              a(href="tel:89214302311")
                i(class="fa fa-phone" aria-hidden="true") +7(921)430-23-11
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://gudp.ru/") СПб ГУДП «Центр»
            hr
          div(class="col-7 col_1")
            p Адмиралтейский<br />Василеостровский<br />Петроградский<br />Московский<br />Невский(левый берег)<br />Фрунзенский<br />Центральный
          div(class="col-5 col_2")
            p
              a(href="tel:89210923517")
                i(class="fa fa-phone" aria-hidden="true") +7(921)092-35-17
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://gudp-put.ru/") СПб ГУДП «Путь»
            hr
          div(class="col-7 col_1")
            p Кировский<br />Красносельский
          div(class="col-5 col_2")
            p
              a(href="tel:88122521416")
                i(class="fa fa-phone" aria-hidden="true") +7(812)252-14-16
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://www.avtodor-spb.ru/") ОАО «Автодор СПб»
            hr
          div(class="col-7 col_1")
            p Колпинский<br />Пушкинский
          div(class="col-5 col_2")
            p
              a(href="tel:89112330295")
                i(class="fa fa-phone" aria-hidden="true") +7(911)233-02-95
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://gudsp-kurortnoe.ru/") СПб ГУДСП «Курортное»
            hr
          div(class="col-7 col_1")
            p Курортный<br />Кронштадтский
          div(class="col-5 col_2")
            p
              a(href="tel:88124326094")
                i(class="fa fa-phone" aria-hidden="true") +7(812)432-60-94
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="#") СПб ГУДСП «Петродворцовое»
            hr
          div(class="col-7 col_1")
            p Петродворцовый
          div(class="col-5 col_2")
            p
              a(href="tel:89216074654")
                i(class="fa fa-phone" aria-hidden="true") +7(921)607-46-54
        div(class="row")
          div(class="col-12")
            p(class="caption")
              a(href="http://www.park7.sp.ru/") ОАО «Автопарк №7 «Спецтранс»
            hr
          div(class="col-7 col_1")
            p Красногвардейский<br />Невский(правый)
          div(class="col-5 col_2")
            p
              a(href="tel:88122267901")
                i(class="fa fa-phone" aria-hidden="true") +7(812)226-79-01
      div(class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab")
