div(class="modal" id="searchModal")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Сведения о системе
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        ul(class="nav nav-pills nav-fill")
          li(class="nav-item")
            a(class="nav-link hidden-sm-up icon_system" href="#system" data-toggle="pill" role="tab" aria-controls="system")
              i(class="fa fa-info" aria-hidden="true")
            a(class="nav-link active hidden-xs-down" href="#system" id="system-tab" data-toggle="pill" role="tab" aria-controls="system") О системе
          li(class="nav-item")
            a(class="nav-link hidden-sm-up icon_info" href="#info" data-toggle="pill" role="tab" aria-controls="info")
              i(class="fa fa-handshake-o " aria-hidden="true")
            a(class="nav-link hidden-xs-down" href="#info" id="info-tab" data-toggle="pill" role="tab" aria-controls="info") Обладатель информации ГИС
          li(class="nav-item")
            a(class="nav-link hidden-sm-up icon_dev" href="#dev" data-toggle="pill" role="tab" aria-controls="dev")
              i(class="fa fa-globe" aria-hidden="true")
            a(class="nav-link hidden-xs-down" href="#dev" id="dev-tab" data-toggle="pill" role="tab" aria-controls="dev") Разработчики ГИС
        div(class="tab-content")
          div(class="tab-pane fade show active" id="system" role="tabpanel" aria-labelledby="system-tab")
            div(class="row")
              div(class="col-12 col_2")
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Автоматизация полномочий Комитета по благоустройству Санкт-Петербурга в части реализации полномочий, предусмотренных п. 3.73. Положения о Комитете по благоустройству Санкт-Петербурга, утвержденного постановлением Правительства Санкт-Петербурга от 29.06.2010 №836 «О мерах по совершенствованию государственного управления в области благоустройства и дорожного хозяйства»:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9755;&nbsp;обеспечивать осуществление дорожной деятельности в части, касающейся содержания автомобильных дорог общего пользования регионального значения в Санкт-Петербурге (включая проведение первоочередных мероприятий по обеспечению безопасности и организации дорожного движения), если указанное полномочие в соответствии с нормативными правовыми актами Правительства Санкт-Петербурга не отнесено к компетенции иных исполнительных органов государственной власти Санкт-Петербурга, в том числе осуществлять установку дорожных ограждений (за исключением дорожных ограждений на искусственных дорожных сооружениях), обеспечивать содержание искусственных дорожных сооружений, являющихся имуществом казны Санкт-Петербурга, в части, касающейся выполнения работ по очистке, обеспыливанию, механизированной снегоочистке, расчистке от снежных заносов, борьбе с зимней скользкостью, погрузке и вывозу снега, распределению противогололедных материалов, очистке от снега и льда, борьбе с наледями, выполняемых на проезжей части указанных искусственных дорожных сооружений, а также на тротуарах и иных частях указанных искусственных дорожных сооружений, на которых разрешено движение пешеходов.
          div(class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab")
            div(class="row")
              div(class="col-5 col_1")
                p Полное наименование:
              div(class="col-7 col_2")
                p Комитет по благоустройству Санкт-Петербурга
            div(class="row")
              div(class="col-5 col_1")
                p Сокращенное наименование:
              div(class="col-7 col_2")
                p КБ СПб
            div(class="row")
              div(class="col-5 col_1")
                p Юридический адрес:
              div(class="col-7 col_2")
                p 191023, Санкт-Петербург, ул. Караванная, д. 9
            div(class="row")
              div(class="col-5 col_1")
                p ИНН:
              div(class="col-7 col_2")
                p 7840424142
            div(class="row")
              div(class="col-5 col_1")
                p ОГРН:
              div(class="col-7 col_2")
                p 1099847031570
            div(class="row")
              div(class="col-5 col_1")
                p ФИО уполномоченного должностного лица:
              div(class="col-7 col_2")
                p Рублевский Владимир Викторович
            div(class="row")
              div(class="col-5 col_1")
                p Должность уполномоченного должностного лица:
              div(class="col-7 col_2")
                p Член Правительства Санкт-Петербурга - председатель Комитета
            div(class="row")
              div(class="col-5 col_1")
                p Телефон:
              div(class="col-7 col_2")
                p
                  a(href="tel:88125761204")
                    i(class="fa fa-phone" aria-hidden="true") &nbsp;+7(812)576-12-04
            div(class="row")
              div(class="col-5 col_1")
                p Факс:
              div(class="col-7 col_2")
                p
                  i(class="fa fa-fax" aria-hidden="true") &nbsp;+7(812)312-79-62
            div(class="row")
              div(class="col-5 col_1")
                p Адрес электронной почты:
              div(class="col-7 col_2")
                p
                  i(class="fa fa-envelope-square" aria-hidden="true") &nbsp;kb@gov.spb.ru
            div(class="row")
              div(class="col-5 col_1")
                p Принадлежность к структурному (функциональному) элементу:
              div(class="col-7 col_2")
                p 7840424142
          div(class="tab-pane fade" id="dev" role="tabpanel" aria-labelledby="dev-tab")
            div(class="row")
              div(class="col-5 col_1")
                p СПб ГУП «Санкт-Петербургский информационно-аналитический центр»
              div(class="col-7 col_2")
                p Россия, Санкт-Петербург, ул. Черняховского, д. 59
                  br
                  i(class="fa fa-phone" aria-hidden="true") &nbsp;+7 (812) 764-39-57
                  br
                  i(class="fa fa-fax" aria-hidden="true") &nbsp;+7 (812) 764-95-48
                  br
                  i(class="fa fa-envelope-square" aria-hidden="true") &nbsp;secretar@iac.spb.ru
                  br
                  a(href="http://www.navsy.ru/")
                    i(class="fa fa-globe" aria-hidden="true") &nbsp;iac.spb.ru
            hr
            div(class="row")
              div(class="col-5 col_1")
                p ООО «НАВСИ»
              div(class="col-7 col_2")
                p Россия, Санкт-Петербург, Светлановский пр. д.2А.
                  br
                  i(class="fa fa-phone" aria-hidden="true") &nbsp;+7 (812) 323-8611
                  br
                  i(class="fa fa-fax" aria-hidden="true") &nbsp;+7 (812) 323-8633
                  br
                  i(class="fa fa-envelope-square" aria-hidden="true") &nbsp;office@navsy.ru
                  br
                  a(href="http://www.navsy.ru/")
                    i(class="fa fa-globe" aria-hidden="true") &nbsp;www.navsy.ru
